@font-face {
  font-family: "MyriadProRegular";
  src: url("/assets/MyriadProRegular/MyriadProRegular.eot");
  src: url("/assets/MyriadProRegular/MyriadProRegular.eot?#iefix") format("embedded-opentype"), url("/assets/MyriadProRegular/MyriadProRegular.woff") format("woff"), url("/assets/MyriadProRegular/MyriadProRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "MyriadProBold"; */
@font-face {
  font-family: "MyriadProBold";
  src: url("/assets/MyriadProBold/MyriadProBold.eot");
  src: url("/assets/MyriadProBold/MyriadProBold.eot?#iefix") format("embedded-opentype"), url("/assets/MyriadProBold/MyriadProBold.woff") format("woff"), url("/assets/MyriadProBold/MyriadProBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "MyriadProItalic"; */
@font-face {
  font-family: "MyriadProItalic";
  src: url("/assets/MyriadProItalic/MyriadProItalic.eot");
  src: url("/assets/MyriadProItalic/MyriadProItalic.eot?#iefix") format("embedded-opentype"), url("/assets/MyriadProItalic/MyriadProItalic.woff") format("woff"), url("/assets/MyriadProItalic/MyriadProItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "MyriadProSemiBold"; */
@font-face {
  font-family: "MyriadProSemiBold";
  src: url("/assets/MyriadProSemiBold/MyriadProSemiBold.eot");
  src: url("/assets/MyriadProSemiBold/MyriadProSemiBold.eot?#iefix") format("embedded-opentype"), url("/assets/MyriadProSemiBold/MyriadProSemiBold.woff") format("woff"), url("/assets/MyriadProSemiBold/MyriadProSemiBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "MyriadProBoldItalic"; */
@font-face {
  font-family: "MyriadProBoldItalic";
  src: url("/assets/MyriadProBoldItalic/MyriadProBoldItalic.eot");
  src: url("/assets/MyriadProBoldItalic/MyriadProBoldItalic.eot?#iefix") format("embedded-opentype"), url("/assets/MyriadProBoldItalic/MyriadProBoldItalic.woff") format("woff"), url("/assets/MyriadProBoldItalic/MyriadProBoldItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "MyriadProSemiBoldItalic"; */
@font-face {
  font-family: "MyriadProSemiBoldItalic";
  src: url("/assets/MyriadProSemiBoldItalic/MyriadProSemiBoldItalic.eot");
  src: url("/assets/MyriadProSemiBoldItalic/MyriadProSemiBoldItalic.eot?#iefix") format("embedded-opentype"), url("/assets/MyriadProSemiBoldItalic/MyriadProSemiBoldItalic.woff") format("woff"), url("/assets/MyriadProSemiBoldItalic/MyriadProSemiBoldItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "FuturaRegular"; */
@font-face {
  font-family: "FuturaRegular";
  src: url("/assets/FuturaRegular/FuturaRegular.eot");
  src: url("/assets/FuturaRegular/FuturaRegular.eot?#iefix") format("embedded-opentype"), url("/assets/FuturaRegular/FuturaRegular.woff") format("woff"), url("/assets/FuturaRegular/FuturaRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "FuturaBold"; */
@font-face {
  font-family: "FuturaBold";
  src: url("/assets/FuturaBold/FuturaBold.eot");
  src: url("/assets/FuturaBold/FuturaBold.eot?#iefix") format("embedded-opentype"), url("/assets/FuturaBold/FuturaBold.woff") format("woff"), url("/assets/FuturaBold/FuturaBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* pure-hidden-xs */
@media screen and (max-width: 567px) {
  .pure-visible-sm {
    display: none;
  }
  .pure-visible-md {
    display: none;
  }
  .pure-visible-lg {
    display: none;
  }
  .pure-visible-xl {
    display: none;
  }
  .pure-hidden-xs {
    display: none;
  }
}
/* pure-hidden-sm */
@media screen and (min-width: 568px) and (max-width: 767px) {
  .pure-visible-xs {
    display: none;
  }
  .pure-visible-md {
    display: none;
  }
  .pure-visible-lg {
    display: none;
  }
  .pure-visible-xl {
    display: none;
  }
  .pure-hidden-sm {
    display: none;
  }
}
/* pure-hidden-md */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .pure-visible-xs {
    display: none;
  }
  .pure-visible-sm {
    display: none;
  }
  .pure-visible-lg {
    display: none;
  }
  .pure-visible-xl {
    display: none;
  }
  .pure-hidden-md {
    display: none;
  }
}
/* pure-hidden-lg */
@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .pure-visible-xs {
    display: none;
  }
  .pure-visible-sm {
    display: none;
  }
  .pure-visible-md {
    display: none;
  }
  .pure-visible-xl {
    display: none;
  }
  .pure-hidden-lg {
    display: none;
  }
}
/* pure-hidden-xl */
@media screen and (min-width: 1280px) {
  .pure-visible-xs {
    display: none;
  }
  .pure-visible-sm {
    display: none;
  }
  .pure-visible-md {
    display: none;
  }
  .pure-visible-lg {
    display: none;
  }
  .pure-hidden-xl {
    display: none;
  }
}
html,
body {
  height: 100%;
}
body {
  font-family: "MyriadProRegular", 'helvetica', arial, sans-serif;
  font-size: 20px;
  background-color: #ECEAFF;
}
*[disabled] {
  opacity: 0.7;
  cursor: not-allowed;
}
.wrapper_black {
  background-color: rgba(0, 0, 0, 0.8);
  min-height: 100vh;
}
a {
  text-decoration: none;
  color: #040404;
}
h1 {
  padding: 0.5em;
  margin: 0;
}
h2 {
  margin: 0.4em 0;
  font-size: 1.5em;
}
*[ui-sref],
*[ng-click] {
  cursor: pointer;
}
/** PureCss customisation */
.pure-g {
  letter-spacing: normal;
}
.pure-form-stacked input {
  width: 100%;
}
.pure-button[disabled] {
  opacity: 0.7;
}
.ui-control {
  background-color: whitesmoke;
  height: 0;
  width: 40px;
  border-radius: 999px;
  box-shadow: 2px 2px 4px #3f3b4e;
  padding: 20px 0 40px 20px;
  text-align: initial;
  color: #35333B;
  -webkit-user-select: none;
  /* Chrome all / Safari all */
  -moz-user-select: none;
  /* Firefox all */
  -ms-user-select: none;
  /* IE 10+ */
  user-select: none;
}
.ui-control .addon {
  background-color: inherit;
  border-radius: 99px;
  display: inline-block;
  padding: 6px;
  margin-left: -15px;
  color: #FF683A;
}
.ui-selector {
  display: inline-block;
  position: relative;
  vertical-align: text-top;
  text-align: center;
  width: 80px;
}
.ui-selector .title {
  color: whitesmoke;
  font-size: 14px;
}
.ui-selector .wrapper {
  left: 0;
  right: 0;
  display: inline-block;
  position: absolute;
  height: 0;
  opacity: 0;
  z-index: 19;
  overflow: hidden;
  -webkit-transition: transform 0.5s, height 0.5s, opacity 0.2s ease-in;
  -moz-transition: transform 0.5s, height 0.5s, opacity 0.2s ease-in;
  -o-transition: transform 0.5s, height 0.5s, opacity 0.2s ease-in;
  transition: transform 0.5s, height 0.5s, opacity 0.2s ease-in;
  -webkit-transform: translate3d(0, 50px, 0);
  -moz-transform: translate3d(0, 50px, 0);
  -o-transform: translate3d(0, 50px, 0);
  transform: translate3d(0, 50px, 0);
}
.ui-selector .wrapper.show {
  height: 200px;
  opacity: 1;
  -webkit-transform: translate3d(0, -210px, 0);
  -moz-transform: translate3d(0, -210px, 0);
  -o-transform: translate3d(0, -210px, 0);
  transform: translate3d(0, -210px, 0);
}
.ui-selector .wrapper > .ui-selector-active,
.ui-selector .wrapper > .ui-selector-options > [class^=ui-selector] {
  background-color: whitesmoke;
  height: 0;
  width: 40px;
  border-radius: 999px;
  box-shadow: 2px 2px 4px #3f3b4e;
  padding: 20px 0 40px 20px;
  text-align: initial;
  color: #35333B;
  -webkit-user-select: none;
  /* Chrome all / Safari all */
  -moz-user-select: none;
  /* Firefox all */
  -ms-user-select: none;
  /* IE 10+ */
  user-select: none;
  text-align: center;
  display: inline-block;
}
.ui-selector .wrapper > .ui-selector-active .addon,
.ui-selector .wrapper > .ui-selector-options > [class^=ui-selector] .addon {
  background-color: inherit;
  border-radius: 99px;
  display: inline-block;
  padding: 6px;
  margin-left: -15px;
  color: #FF683A;
}
.ui-selector .wrapper > .ui-selector-options {
  width: 65px;
  border: 1px solid white;
  display: inline-block;
  background-color: #333;
  border-radius: 999px;
  padding: 5px 3px 1px;
}
.ui-selector > .ui-selector-active {
  background-color: whitesmoke;
  height: 0;
  width: 40px;
  border-radius: 999px;
  box-shadow: 2px 2px 4px #3f3b4e;
  padding: 20px 0 40px 20px;
  text-align: initial;
  color: #35333B;
  -webkit-user-select: none;
  /* Chrome all / Safari all */
  -moz-user-select: none;
  /* Firefox all */
  -ms-user-select: none;
  /* IE 10+ */
  user-select: none;
  text-align: center;
  display: inline-block;
}
.ui-selector > .ui-selector-active .addon {
  background-color: inherit;
  border-radius: 99px;
  display: inline-block;
  padding: 6px;
  margin-left: -15px;
  color: #FF683A;
}
.button {
  margin: 10px;
  padding: 10px 15px;
  font-size: 16px;
  border-radius: 999px;
  background-color: #FF6131;
  display: inline-block;
}
header {
  background-color: #333;
  position: fixed;
  width: 100%;
  z-index: 20;
  height: 71px;
  overflow: hidden;
}
header .logo {
  display: inline-block;
  font-size: 40px;
  font-weight: bolder;
  color: #FF683A;
  padding: 10px;
}
header a {
  color: white;
  padding: 15px 20px;
  margin: 0 5px;
  display: inline-block;
  border-bottom: 3px solid transparent;
}
header a:not(.active):hover {
  border-bottom-color: #00BCD4;
}
header a.active {
  color: #00BCD4;
}
.app-search {
  position: absolute;
  top: 71px;
  width: 100%;
  bottom: 0;
}
.app-search .content,
.app-search #map,
.app-search .filter {
  float: left;
  width: 100%;
}
.app-search .filter {
  box-sizing: border-box;
  padding-top: 20px;
  position: absolute;
  top: 100%;
  width: 100%;
  margin-top: -120px;
  background-color: #333;
  height: auto;
  min-height: 200px;
}
.app-search .content {
  position: absolute;
  top: 0;
  width: 100%;
  bottom: 120px;
  overflow: auto;
  background-color: whitesmoke;
}
.app-search #map {
  position: absolute!important;
  top: 0;
  width: 100%;
  bottom: 120px;
}
.app-search .ui-control.view {
  position: absolute;
  z-index: 20;
  top: 100%;
  margin-top: -150px;
}
.app-search .ui-control.view.listMapToggle {
  right: 10px;
}
.app-search .ui-control.view.mapSearch {
  position: fixed;
  margin: 0;
  top: 81px;
  right: 10px;
  width: auto;
  padding-right: 16px;
}
.app-search .ui-control.view.mapSearch i {
  margin-left: 10px;
}
.app-search .ui-selector .ui-selector-option,
.app-search .ui-selector .ui-selector-active {
  background: whitesmoke no-repeat center / 80%;
  text-align: left!important;
  font-weight: bolder;
}
.app-search .ui-selector.transmission .wrapper.show {
  height: 270px;
  -webkit-transform: translate3d(0, -270px, 0);
  -moz-transform: translate3d(0, -270px, 0);
  -o-transform: translate3d(0, -270px, 0);
  transform: translate3d(0, -270px, 0);
}
.app-search .ui-selector.transmission > * {
  background-size: 70%;
}
.app-search .ui-selector.transmission .m {
  background-image: url(/assets/m.png);
}
.app-search .ui-selector.transmission .sa {
  background-image: url(/assets/sa.png);
}
.app-search .ui-selector.transmission .a {
  background-image: url(/assets/a.png);
}
.app-search .ui-selector.luggage .wrapper.show {
  height: 330px;
  -webkit-transform: translate3d(0, -330px, 0);
  -moz-transform: translate3d(0, -330px, 0);
  -o-transform: translate3d(0, -330px, 0);
  transform: translate3d(0, -330px, 0);
}
.app-search .ui-selector.luggage .ui-selector-option {
  margin: 1px 0 2px;
}
.app-search .ui-selector.luggage .ui-selector-option:last-of-type {
  margin-bottom: 1px;
}
.app-search .ui-selector.class .wrapper.show {
  height: 335px;
  -webkit-transform: translate3d(0, -335px, 0);
  -moz-transform: translate3d(0, -335px, 0);
  -o-transform: translate3d(0, -335px, 0);
  transform: translate3d(0, -335px, 0);
}
.app-search .ui-selector.class .small {
  background-image: url(/assets/small.png);
}
.app-search .ui-selector.class .normal {
  background-image: url(/assets/normal.png);
}
.app-search .ui-selector.class .mid {
  background-image: url(/assets/mid.png);
}
.app-search .ui-selector.class .large {
  background-image: url(/assets/large.png);
}
.app-search .ui-selector .default {
  background-image: url(/assets/default.png);
  background-size: 70%;
}
.app-search .ui-selector.seats .wrapper.show {
  height: 265px;
  -webkit-transform: translate3d(0, -265px, 0);
  -moz-transform: translate3d(0, -265px, 0);
  -o-transform: translate3d(0, -265px, 0);
  transform: translate3d(0, -265px, 0);
}
.app-search .ui-selector.seats .ui-selector-option {
  margin: 1px 0 2px;
}
.app-search .ui-selector.seats .ui-selector-option:last-of-type {
  margin-bottom: 1px;
}
.app-search .ui-selector.seats .title,
.app-search .ui-selector.luggage .title {
  margin-top: 5px;
}
.app-search rzslider {
  width: 90%;
  margin-left: 5%;
}
.app-search .rz-pointer {
  background-color: #FF683A;
}
.app-search .rz-pointer.rz-active:after {
  background-color: #03A9F4;
}
.app-search .rz-selection {
  background-color: #ffddd3 !important;
}
.app-search .ui-control-datepickers {
  display: inline-block;
  vertical-align: text-top;
  margin-left: 10px;
}
.app-search .ui-control-datepickers .ui-control-datepicker {
  margin: 5px 0;
}
.app-search .ui-control-datepickers .ui-control-datepicker > * {
  display: inline-block;
}
.app-search .ui-control-datepickers .ui-control-datepicker .title {
  color: whitesmoke;
  font-size: 14px;
  width: 35px;
}
@media (min-width: 1024px) {
  .app-search rzslider {
    display: inline-block;
    width: 400px;
    margin-left: 5%;
  }
  .app-search .filter {
    margin-top: -200px;
    min-height: 200px;
  }
  .app-search #map {
    position: fixed!important;
    height: auto;
    bottom: 200px;
    left: 0;
    right: 50%;
    width: auto;
    top: 71px;
  }
  .app-search .content {
    left: 50%;
    right: 0;
    width: auto;
    display: block!important;
    bottom: 200px;
  }
  .app-search .ui-control.listMapToggle {
    display: none;
  }
  .app-search .ui-control.mapSearch {
    right: 52%!important;
  }
}
.simplebar,
[data-simplebar-direction] {
  position: relative;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  /* Trigger native scrolling for mobile, if not supported, plugin is used. */
}
.simplebar .simplebar-scroll-content,
[data-simplebar-direction] .simplebar-scroll-content {
  overflow-y: scroll;
  overflow-x: auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  -ms-overflow-style: none;
  /* hide browser scrollbar on IE10+ */
}
/* hide browser scrollbar on Webkit (Safari & Chrome) */
.simplebar-scroll-content::-webkit-scrollbar {
  display: none;
}
[data-simplebar-direction="horizontal"] .simplebar-scroll-content,
.simplebar.horizontal .simplebar-scroll-content {
  overflow-x: scroll;
  overflow-y: auto;
}
.simplebar-track {
  z-index: 99;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 11px;
}
.simplebar-track .simplebar-scrollbar {
  position: absolute;
  right: 2px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  min-height: 10px;
  width: 7px;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  opacity: 0;
  -webkit-transition: opacity 0.2s linear;
  -moz-transition: opacity 0.2s linear;
  -o-transition: opacity 0.2s linear;
  -ms-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
  background: #6c6e71;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
}
.simplebar-track:hover .simplebar-scrollbar {
  /* When hovered, remove all transitions from drag handle */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  opacity: 0.7;
  -webkit-transition: opacity 0 linear;
  -moz-transition: opacity 0 linear;
  -o-transition: opacity 0 linear;
  -ms-transition: opacity 0 linear;
  transition: opacity 0 linear;
}
.simplebar-track .simplebar-scrollbar.visible {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  opacity: 0.7;
}
[data-simplebar-direction="horizontal"] .simplebar-track,
.simplebar.horizontal .simplebar-track {
  top: auto;
  left: 0;
  width: auto;
  height: 11px;
}
[data-simplebar-direction="horizontal"] .simplebar-track .simplebar-scrollbar,
.simplebar.horizontal .simplebar-track .simplebar-scrollbar {
  right: auto;
  top: 2px;
  height: 7px;
  min-height: 0;
  min-width: 10px;
  width: auto;
}
.app-apiTest {
  position: relative;
  top: 71px;
  padding: 10px 15px;
}
.app-apiTest input,
.app-apiTest button {
  margin: 5px 10px;
}
.app-apiTest article {
  background-color: white;
  min-height: 200px;
  padding: 20px;
}
