@font-face {
  font-family: "MyriadProRegular";
  src: url("/assets/MyriadProRegular/MyriadProRegular.eot");
  src: url("/assets/MyriadProRegular/MyriadProRegular.eot?#iefix") format("embedded-opentype"), url("/assets/MyriadProRegular/MyriadProRegular.woff") format("woff"), url("/assets/MyriadProRegular/MyriadProRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "MyriadProBold"; */
@font-face {
  font-family: "MyriadProBold";
  src: url("/assets/MyriadProBold/MyriadProBold.eot");
  src: url("/assets/MyriadProBold/MyriadProBold.eot?#iefix") format("embedded-opentype"), url("/assets/MyriadProBold/MyriadProBold.woff") format("woff"), url("/assets/MyriadProBold/MyriadProBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "MyriadProItalic"; */
@font-face {
  font-family: "MyriadProItalic";
  src: url("/assets/MyriadProItalic/MyriadProItalic.eot");
  src: url("/assets/MyriadProItalic/MyriadProItalic.eot?#iefix") format("embedded-opentype"), url("/assets/MyriadProItalic/MyriadProItalic.woff") format("woff"), url("/assets/MyriadProItalic/MyriadProItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "MyriadProSemiBold"; */
@font-face {
  font-family: "MyriadProSemiBold";
  src: url("/assets/MyriadProSemiBold/MyriadProSemiBold.eot");
  src: url("/assets/MyriadProSemiBold/MyriadProSemiBold.eot?#iefix") format("embedded-opentype"), url("/assets/MyriadProSemiBold/MyriadProSemiBold.woff") format("woff"), url("/assets/MyriadProSemiBold/MyriadProSemiBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "MyriadProBoldItalic"; */
@font-face {
  font-family: "MyriadProBoldItalic";
  src: url("/assets/MyriadProBoldItalic/MyriadProBoldItalic.eot");
  src: url("/assets/MyriadProBoldItalic/MyriadProBoldItalic.eot?#iefix") format("embedded-opentype"), url("/assets/MyriadProBoldItalic/MyriadProBoldItalic.woff") format("woff"), url("/assets/MyriadProBoldItalic/MyriadProBoldItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "MyriadProSemiBoldItalic"; */
@font-face {
  font-family: "MyriadProSemiBoldItalic";
  src: url("/assets/MyriadProSemiBoldItalic/MyriadProSemiBoldItalic.eot");
  src: url("/assets/MyriadProSemiBoldItalic/MyriadProSemiBoldItalic.eot?#iefix") format("embedded-opentype"), url("/assets/MyriadProSemiBoldItalic/MyriadProSemiBoldItalic.woff") format("woff"), url("/assets/MyriadProSemiBoldItalic/MyriadProSemiBoldItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "FuturaRegular"; */
@font-face {
  font-family: "FuturaRegular";
  src: url("/assets/FuturaRegular/FuturaRegular.eot");
  src: url("/assets/FuturaRegular/FuturaRegular.eot?#iefix") format("embedded-opentype"), url("/assets/FuturaRegular/FuturaRegular.woff") format("woff"), url("/assets/FuturaRegular/FuturaRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "FuturaBold"; */
@font-face {
  font-family: "FuturaBold";
  src: url("/assets/FuturaBold/FuturaBold.eot");
  src: url("/assets/FuturaBold/FuturaBold.eot?#iefix") format("embedded-opentype"), url("/assets/FuturaBold/FuturaBold.woff") format("woff"), url("/assets/FuturaBold/FuturaBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* pure-hidden-xs */
@media screen and (max-width: 567px) {
  .pure-visible-sm {
    display: none;
  }
  .pure-visible-md {
    display: none;
  }
  .pure-visible-lg {
    display: none;
  }
  .pure-visible-xl {
    display: none;
  }
  .pure-hidden-xs {
    display: none;
  }
}
/* pure-hidden-sm */
@media screen and (min-width: 568px) and (max-width: 767px) {
  .pure-visible-xs {
    display: none;
  }
  .pure-visible-md {
    display: none;
  }
  .pure-visible-lg {
    display: none;
  }
  .pure-visible-xl {
    display: none;
  }
  .pure-hidden-sm {
    display: none;
  }
}
/* pure-hidden-md */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .pure-visible-xs {
    display: none;
  }
  .pure-visible-sm {
    display: none;
  }
  .pure-visible-lg {
    display: none;
  }
  .pure-visible-xl {
    display: none;
  }
  .pure-hidden-md {
    display: none;
  }
}
/* pure-hidden-lg */
@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .pure-visible-xs {
    display: none;
  }
  .pure-visible-sm {
    display: none;
  }
  .pure-visible-md {
    display: none;
  }
  .pure-visible-xl {
    display: none;
  }
  .pure-hidden-lg {
    display: none;
  }
}
/* pure-hidden-xl */
@media screen and (min-width: 1280px) {
  .pure-visible-xs {
    display: none;
  }
  .pure-visible-sm {
    display: none;
  }
  .pure-visible-md {
    display: none;
  }
  .pure-visible-lg {
    display: none;
  }
  .pure-hidden-xl {
    display: none;
  }
}
html,
body {
  height: 100%;
}
body {
  font-family: "MyriadProRegular", 'helvetica', arial, sans-serif;
  font-size: 20px;
  background-color: #ECEAFF;
}
*[disabled] {
  opacity: 0.7;
  cursor: not-allowed;
}
.wrapper_black {
  background-color: rgba(0, 0, 0, 0.8);
  min-height: 100vh;
}
a {
  text-decoration: none;
  color: #040404;
}
h1 {
  padding: 0.5em;
  margin: 0;
}
h2 {
  margin: 0.4em 0;
  font-size: 1.5em;
}
*[ui-sref],
*[ng-click] {
  cursor: pointer;
}
/** PureCss customisation */
.pure-g {
  letter-spacing: normal;
}
.pure-form-stacked input {
  width: 100%;
}
.pure-button[disabled] {
  opacity: 0.7;
}
.ui-control {
  background-color: whitesmoke;
  height: 0;
  width: 40px;
  border-radius: 999px;
  box-shadow: 2px 2px 4px #3f3b4e;
  padding: 20px 0 40px 20px;
  text-align: initial;
  color: #35333B;
  -webkit-user-select: none;
  /* Chrome all / Safari all */
  -moz-user-select: none;
  /* Firefox all */
  -ms-user-select: none;
  /* IE 10+ */
  user-select: none;
}
.button {
  margin: 10px;
  padding: 10px 15px;
  font-size: 16px;
  border-radius: 999px;
  background-color: #FF6131;
  display: inline-block;
}
