<div class="app-search">
    <div id="map"></div>
    <div class="filter">
        <div class="ui-selector class">
            <div class="ui-selector-active"
                 ng-click="self.selectors.class.isActive = !self.selectors.class.isActive"
                 ng-class="{default: self.selectors.class.value == 0,
                            small: self.selectors.class.value == 1,
                            normal: self.selectors.class.value == 2,
                            mid: self.selectors.class.value == 3,
                            large: self.selectors.class.value == 4}"></div>
            <div class="wrapper" ng-class="{show: self.selectors.class.isActive}">
                <div class="ui-selector-options">
                    <div class="ui-selector-option small" ng-click="self.selectors.class.select(1)"></div>
                    <div class="ui-selector-option normal" ng-click="self.selectors.class.select(2)"></div>
                    <div class="ui-selector-option mid" ng-click="self.selectors.class.select(3)"></div>
                    <div class="ui-selector-option large" ng-click="self.selectors.class.select(4)"></div>
                    <div class="ui-selector-option default" ng-click="self.selectors.class.select(0)"></div>
                </div>
            </div>
            <div class="title">Класс</div>
        </div>
        <div class="ui-selector transmission">
            <div class="ui-selector-active"
                 ng-click="self.selectors.transmission.isActive = !self.selectors.transmission.isActive"
                 ng-class="{default: self.selectors.transmission.value == 0,
                            m: self.selectors.transmission.value == 1,
                            sa: self.selectors.transmission.value == 2,
                            a: self.selectors.transmission.value == 3}"></div>
            <div class="wrapper" ng-class="{show: self.selectors.transmission.isActive}">
                <div class="ui-selector-options" >
                    <div class="ui-selector-option m" ng-click="self.selectors.transmission.select(1)"></div>
                    <div class="ui-selector-option sa" ng-click="self.selectors.transmission.select(2)"></div>
                    <div class="ui-selector-option a" ng-click="self.selectors.transmission.select(3)"></div>
                    <div class="ui-selector-option default" ng-click="self.selectors.transmission.select(0)"></div>
                </div>
            </div>
            <div class="title">Коробка передач</div>
        </div>
        <div class="ui-selector seats">
            <div class="ui-selector-active"
                 ng-class="{default: self.selectors.seats.value == 0}"
                 ng-click="self.selectors.seats.isActive = !self.selectors.seats.isActive">&nbsp;{{self.selectors.seats.text()}}</div>
            <div class="wrapper" ng-class="{show: self.selectors.seats.isActive}">
                <div class="ui-selector-options" ng-class="{show: self.selectors.seats.isActive}">
                    <div class="ui-selector-option first" ng-click="self.selectors.seats.select(1)">&nbsp;2</div>
                    <div class="ui-selector-option second" ng-click="self.selectors.seats.select(2)">&nbsp;4</div>
                    <div class="ui-selector-option third" ng-click="self.selectors.seats.select(3)">5+</div>
                    <div class="ui-selector-option default" ng-click="self.selectors.seats.select(0)"></div>
                </div>
            </div>
            <div class="title">Мест</div>
        </div>
        <div class="ui-selector luggage">
            <div class="ui-selector-active"
                 ng-class="{default: self.selectors.luggage.value == 0}"
                 ng-click="self.selectors.luggage.isActive = !self.selectors.luggage.isActive">&nbsp;{{self.selectors.luggage.text()}}</div>
            <div class="wrapper" ng-class="{show: self.selectors.luggage.isActive}">
                <div class="ui-selector-options" ng-class="{show: self.selectors.luggage.isActive}">
                    <div class="ui-selector-option first" ng-click="self.selectors.luggage.select(1)">&nbsp;1</div>
                    <div class="ui-selector-option second" ng-click="self.selectors.luggage.select(2)">&nbsp;2</div>
                    <div class="ui-selector-option third" ng-click="self.selectors.luggage.select(3)">&nbsp;3</div>
                    <div class="ui-selector-option fourth" ng-click="self.selectors.luggage.select(4)">4+</div>
                    <div class="ui-selector-option default" ng-click="self.selectors.luggage.select(0)"></div>
                </div>
            </div>
            <div class="title">Багаж</div>
        </div>
        <form class="pure-form pure-form-aligned ui-control-datepickers">
            <div class="pure-control-group ui-control-datepicker" ng-click="self.openFrom()">
                <label class="title">С:</label>
                <input type="text" class="form-control datepickerFrom" ng-model="self.dateFromValue">
            </div>
            <div class="pure-control-group ui-control-datepicker" ng-click="self.openTo()">
                <label class="title">По:</label>
                <input type="text" class="form-control datepickerTo" ng-model="self.dateToValue">
            </div>
        </form>

        <rzslider
                rz-slider-model="self.priceSlider.min"
                rz-slider-high="self.priceSlider.max"
                rz-slider-options="self.priceSlider.options"></rzslider>
    </div>
    <div class="content" ng-show="self.listActive" data-simplebar-direction="vertical">
        <div class="total">Всего результатов: {{self.searchTotal}}</div>
        <div class="item" ng-repeat="item in self.items">
            <div class="title">
                {{item.name}}
            </div>
            <div class="item-content">
                <div class="item-stats">
                    <div class="icon-stat">
                        <div class="icon-stat-image-wrapper">
                            <div class="icon-stat-image" ng-class="{default: item.class_id == 0,
                            small: item.class_id == 1,
                            normal: item.class_id == 2,
                            mid: item.class_id == 3,
                            large: item.class_id == 4}"></div>
                        </div>
                        <div class="title">{{self.mappers.class_id[item.class_id]}}</div>
                    </div>
                    <div class="icon-stat">
                        <div class="icon-stat-image-wrapper">
                            <div class="icon-stat-image" ng-class="{default: item.transmission == 0,
                            m: item.transmission == 1,
                            sa: item.transmission == 2,
                            a: item.transmission == 3}"></div>
                        </div>
                        <div class="title">{{self.mappers.transmission[item.transmission]}}</div>
                    </div>
                    <div class="stat">
                        <div class="stat-value">{{item.seats}}</div>
                        <div class="title">Количество мест</div>
                    </div>
                    <div class="stat">
                        <div class="stat-value">{{item.luggage}}</div>
                        <div class="title">Мест багажа</div>
                    </div>
                    <div class="availability">
                        Доступность:  <span>{{self.formatDate(item.availability_start_date)}}  -  {{self.formatDate(item.availability_end_date)}}</span>
                    </div>
                </div>
                <div class="item-rent">
                    <div class="price">{{item.price}} <span>руб./день</span></div>
                    <div class="pure-button pure-button-primary">Бронировать</div>
                </div>
            </div>
            <div class="show-on-map" ng-click="self.showOnMap(item.id)"><i class="fa fa-map-marker"></i> Показать на карте</div>
        </div>
    </div>
    <div style="clear:both;"></div>
    <div class="ui-control view listMapToggle"
         ng-click="self.listActive = !self.listActive">
        <i class="fa fa-map-o" ng-show="self.listActive"></i>
        <i class="fa fa-list-ul" ng-hide="self.listActive"></i>
        <div class="addon">{{self.searchTotal}}</div>
    </div>
    <div class="ui-control view mapSearch" ng-click="self.search()" ng-hide="self.listActive" ng-disabled="!self.newBounds">
        Искать здесь <i class="fa fa-refresh"></i>
    </div>
</div>