<div class="app-search">
    <div id="map"></div>
    <div class="filter">
        <div class="ui-selector">
            <div class="ui-selector-active" ng-hide="self.selectors.class.isActive"
                 ng-click="self.selectors.class.isActive = true">{{self.selectors.class.value}}</div>
            <div class="ui-selector-option">1</div>
            <div class="ui-selector-option">2</div>
            <div class="ui-selector-option">3</div>
        </div>
    </div>
    <div class="content" ng-show="self.listActive" data-simplebar-direction="vertical">
        <div class="item">
            <div class="title">
                Car Number One
            </div>
            <div class="title">
                Car Number Two
            </div>
            <div class="title">
                Car Number Three
            </div>
        </div>
    </div>
    <div style="clear:both;"></div>
    <!--ng-class="{show: self.listActive, hide: !self.listActive}"-->
    <div class="ui-control listMapToggle"
         ng-click="self.listActive = !self.listActive">
        <i class="fa fa-map-o" ng-show="self.listActive"></i>
        <i class="fa fa-list-ul" ng-hide="self.listActive"></i>
        <div class="addon">10</div>
    </div>
    <div class="ui-control mapSearch" ng-click="" ng-hide="self.listActive">
        Поиск по карте <i class="fa fa-refresh"></i>
    </div>
</div>